<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.crazygit.demo.androidgistwithkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGistWithKotlin">
        <activity android:name=".ui.fragment.FragmentCommunicationActivity" />
        <activity android:name=".ui.fragment.DynamicLoadFragmentDemoActivity" />
        <activity android:name=".ui.RecycleViewDemoActivity" />
        <activity android:name=".ui.fragment.FragmentDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>